@charset "UTF-8";


/*
    Em HTML é id = em CSS é #
    Em HTML é class = em CSS é .
*/

body {
    background-color: rgba(35, 238, 170, 0.705);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(14, 140, 243);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
    

}

h2 {
    color: red;
    
}

.basico{
    color: mediumblue;
}

.intermediario{
    color: deeppink;
}

.avancado{
    color: orangered;
}

.destaque{
    background-color: white;
}