@charset "UTF-8"

    * {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
    }
     
    body{
        background-image: linear-gradient(to right, #A9B6CC, #BDCC94);
    }

    main{
        border-radius: 10px;
        box-shadow: 5px 5px 15px #ffea4d41;
        background-color: white;
        width: 500px;
        padding: 10px;
        margin: auto;
    }

    h1{
        color: #db6809;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(255, 0, 0, 0.699);
    }

    h2{
        color: #1a5fd6;
    }

    p{
        text-align: justify;
    }